@charset "UTF-8";
#wrapper{
	margin-top:15px;
	padding:10px;
}
#wrapper>h2{
	font-size:22pt;
	color:#9999ff;
}

#wrapper .title{
	display: flex;
}

#wrapper .item{
	display: flex;
}

#wrapper .title span{
	text-align: center;
	border: 1px solid #aaa;
	border-left: none;
	border-right: none;
	padding: 20px 0 20px 0;
}

#wrapper .items{
	border-top: none;
}

#wrapper .item span{
	text-align: center;
	padding: 20px 0 20px 0;
}

#wrapper hr{
border-top:none;
border-bottom: 1px dotted black
}

#wrapper .title .no, #wrapper .item .no{
	flex: 0.5;
}
#wrapper .title .pname, #wrapper .item .pname{
	flex: 1;
}
#wrapper .title .wname, #wrapper .item .wname{
	flex: 4;
}
#wrapper .title .irum, #wrapper .item .irum{
	flex: 1;
}
#wrapper .title .nal, #wrapper .item .nal{
	flex: 2;
}
#wrapper .title .hit, #wrapper .item .hit{
	flex: 1;
}

#wrapper .find_zone{
	text-align: right;
	margin-top: 20px;
}

#wrapper .find_zone #btnInsert{
	margin-top: 20px;
	padding: 10px 43px;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 12px;
}
#wrapper .find_zone #btnInsert, #btnFind:hover{
	cursor: pointer;
}

#wrapper .find_zone #btnFind{
	padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 12px;
}
#wrapper #btn_zone{
	margin: auto;
	width: 50%;
	text-align: center;
	vertical-align: top;
}
#wrapper #btn_zone input[type=button]{
	margin-top: 20px;
	padding: 25px;
	border: 0px;
	background-color: #ffffff;
	color: #000 !important;
    font-size: inherit;
}

#wrapper #btn_zone input[type=button]:hover{
	cursor: pointer;
}



















