@charset "UTF-8";
#all_wrapper{
	display: flex;
}
#contact{
	flex: 3.5;
	margin-top:15px;
	padding: 10px;
	background-color: #332f2d;
	color: #fff;
}
#left{
	flex: 1;
}
#right{
	flex: 1;
}

#contact h2{
	color: #997a5e;
	font-family: "Noto Sans KR", Sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 38px;
	margin-bottom: 20px;
}
hr{
	border-top: none;
	border-bottom: 1px solid #ffffff;
}
#top_input{
	display: flex;
	width: 100%;
	height: 50px;
}

#label{
	display: flex;
	flex: 1.5;
	padding: 15px 0 8px 15px;;
	font-size: 0.95em;
	text-align: left;
}
#top_text{
	display: flex;
	flex: 15;
	padding: 15px 0 8px 15px;;
	font-size: 0.95em;
	text-align: left;
	overflow: auto;
	margin-left: 10px;
}

#subject{
	display: inline-block;
}

#main_text{
	display: flex;
	width: 90%;
	padding: 35px 12px 40px;
	min-height: 300px;
	line-height: 1.6;
}

#contact #btn_zone{
	text-align: left;
   margin: 40px 0;
}

#btnSearch, #btnModify, #btnDelete{
	font-size: 15px !important;
	padding: 0;
	line-height: 40px;
	width: 110px;
	background-color: #fff;
	border: 1px solid #000;
}

#contact #btn_zone input[type=button]:hover{
	cursor: pointer;
}

#contact #pwdZone{
	position: absolute;
	top : 0;
	left : 0;
	background-color : #0009;
	width: 100%;
	height: 100%;
	display: none;
}
#contact #checkZone{
	width: 350px;
	height: 170px;
	margin: 70px auto;
	background-color : #fff;
	text-align: center;
	padding:26px;
	line-height: 30px;
	border: 2px solid #ff000047;
	color: #000;
}
#contact #checkZone input[type=password]{
	margin-top: 10px;
	height: 20px;
}

#contact #checkZone input[type=button]{
	margin: 16px 5px 0 0;
    width: 60px;
    height: 30px;
    border: 1px solid #000;
    background-color: #fff;
}

#contact #checkZone input[type=button]:hover{
	cursor: pointer;
}

/* 이미지 미리보기 -------------------- */
#image_preview{
	position: relative;
}
#image_preview img {
	width: 150px;
	height: 180px;
	padding: 8px;
}

#image_preview #attzone{
	width: 100%;
	min-height: 130px;
	padding: 0;
	background-color: rgba(240,240,240,0%);
}
#image_preview #attzone .item{
	width: 130px;
	height: 150px;
	margin: 5px;
	position: relative;
	display: inline-block;
}

#attzone .del_btn{
	position: absolute;
	font-size: 20pt;
	color: #be9f7b;
	right: -7px;
	bottom: -20px;
	background-color: rgba(255,255,255,0%);
	padding: 0;
	border-width: 0;
	cursor: pointer;
}






















