@charset "UTF-8";
#all_wrapper{
	display: flex;
}
#contact{
	flex: 3.5;
	margin-top:15px;
	padding:10px;
	background-color: #332f2d;
	color: #fff;
}
#left{
	flex: 1;
}
#right{
	flex: 1;
}

#contact h1{
	color: #997A5E;
	font-family: "Noto Sans KR", Sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 38px;
	margin-bottom: 20px;
}
#label{
	display: inline-block;
	width: 20%;
	padding: 15px 10px 18px 30px;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}
.vertical{
	border-bottom: 2px solid #ffffff !important;
}

#contact #insert .phone, .email{
	width: 30% !important;
}

#contact #insert #input .subject{
	width: 60% !important;
}

#input{
	display: inline-block;
	width: 70%;
	height: 100%;
}

textarea{
	width: 90% !important;
	min-heighT: 300px;
	resize: vertical;
	padding: 10px 15px;
}
#space{
	padding: 15px 10px 15px 30px;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	width: 23%;
	display: inline-block;
}
#space div{
	height: 50%;
}

#block{
	display: flex;
	width: 100%;
}
#textarea_div{
	padding: 15px 0;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	width: 90%;
	display: inline-block;
	min-height: 300px;
}

#contact #insert input{
	height: 30px;
	color: rgb(136, 136, 136);
	font-size: 12px;
	padding: 4px 10px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(197, 197, 197);
	border-image: initial;
	background: rgb(255, 255, 255);
}

#contact #insert select{
	height: 34px;
	color: rgb(136, 136, 136);
	font-size: 12px;
	padding: 4px 10px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(197, 197, 197);
	border-image: initial;
	background: rgb(255, 255, 255);
}

#contact hr{
	border-top: none;
	border-bottom: 1px dotted #ffffff;
}

#contact #btn_zone{
	text-align: center;
	margin: 40px 0;
}

#btnInsertR{
	font-size: 15px !important;
	padding: 0;
	line-height: 48px;
	width: 200px;
	background-color: #be9f7b;
	border: 1px solid #000;
	color: white;
	border: none;
}
#btnSearch{
	font-size: 15px !important;
	padding: 0;
	line-height: 48px;
	width: 200px;
	background-color: #fff;
	border: 1px solid #000;
}

#contact #btn_zone input[type=button]:hover{
	cursor: pointer;
}

/* 이미지 미리보기 -------------------- */
#image_preview{
	position: relative;	
	display: none;
}
#image_preview img {
	width: 150px;
	height: 180px;
	padding: 8px;
}

#image_preview #attzone{
	width: 100%;
	min-height: 130px;
	padding: 0;
	background-color: rgba(240,240,240,0%);
}
#image_preview #attzone .item{
	width: 130px;
	height: 150px;
	margin: 5px;
	position: relative;
	display: inline-block;
}

#attzone .del_btn{
	position: absolute;
	font-size: 20pt;
	color: #be9f7b;
	right: -7px;
	bottom: -20px;
	background-color: rgba(255,255,255,0%);
	padding: 0;
	border-width: 0;
	cursor: pointer;
}
