@charset "UTF-8";
#contact{
	margin-top:15px;
	padding:10px;
}
#contact>h2{
	color: #997a5e;
	font-family: "Noto Sans KR", Sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 38px;
	margin-bottom: 10px;
}

#contact .column_name{
	display: flex;
}

#contact .item{
	display: flex;
}

#contact .column_name span{
	text-align: center;
	border: 1px solid #aaa;
	border-left: none;
	border-right: none;
	padding: 20px 0 20px 0;
}

#contact .items{
	border-top: none;
}

#contact .item span{
	text-align: center;
	padding: 20px 0 20px 0;
}

#contact hr{
border-top:none;
border-bottom: 1px dotted black
}

#contact .column_name .no, #contact .item .no{
	flex: 0.5;
}
#contact .column_name .store, #contact .item .store{
	flex: 1;
}
#contact .column_name .subject, #contact .item .subject{
	flex: 4;
}
#contact .column_name .irum, #contact .item .irum{
	flex: 1;
}
#contact .column_name .mdate, #contact .item .mdate{
	flex: 2;
}
#contact .column_name .hit, #contact .item .hit{
	flex: 1;
}

#contact .find_zone{
	text-align: right;
	margin-top: 20px;
}

#contact .find_zone #btnInsert{
	margin-top: 20px;
	padding: 10px 43px;
   background-color: #fff;
   border: 1px solid #000;
   font-size: 12px;
}
#contact .find_zone #btnInsert, #btnFind:hover{
	cursor: pointer;
}

#contact .find_zone #btnFind{
	padding: 5px 10px;
   background-color: #fff;
   border: 1px solid #000;
   font-size: 12px;
}
#contact #btn_zone{
	margin: auto;
	width: 100%;
	text-align: center;
	vertical-align: top;
}
#contact #btn_zone input[type=button]{
	margin-top: 20px;
	padding: 25px;
	border: 0px;
	background-color: #ffffff;
	color: #000 !important;
   font-size: inherit;
}

#contact #btn_zone input[type=button]:hover{
	cursor: pointer;
}



















